form#search .btn-large {
	display: block;
	margin: 0 auto;
	width: 170px;
}
.card .card-content {
	position: relative;
	padding: 10px 15px;
}
	.card .card-content h3.card-title {
		font-size: 2.25em;
		margin: 0.5em 0 0 0;
	}
	.card .card-content p {
 		text-align: center;
 		margin-top: 1em;
 		width: 170px;
	}
	.card-content address {
		font-style: normal;
	}
#response > div {
	margin-bottom: 2em;
}