<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<title>Find A Sucky Business</title>
		{% load static %}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="{% static 'hater_app/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="{% static 'hater_app/css/main.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script>
			function initMap() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						var pos = {
							lat: position.coords.latitude,
							lng: position.coords.longitude
						};
						var lati = pos.lat,
							longi = pos.lng
						$('.latitudetime').val(lati)
						$('.longitudetime').val(longi)
					}, function() {
						handleLocationError(true, infoWindow, map.getCenter());
					});
				} else {
					handleLocationError(false, infoWindow, map.getCenter());
				}
			}
			function handleLocationError(browserHasGeolocation, infoWindow, pos) {
				infoWindow.setPosition(pos);
				infoWindow.setContent(browserHasGeolocation ?
					'Error: The Geolocation service failed.' :
					'Error: Your browser doesn\'t support geolocation.');
			}

			// Glassdoor search
			//$( document ).ready(function() {
			//	var ua     = navigator.userAgent,
			//		query  = $("#terms").val(),
			//		gd_url = 'http://api.glassdoor.com/api/api.htm?t.p=107976&t.k=hW3TzCRX74c&userip=54.201.51.99&useragent='+ua+'&format=json&v=1&action=employers&q='+query+'c=San+Jose'

			//	$.getJSON('http://anyorigin.com/get?url='+gd_url+'&callback=?', function(data){
			//		$( "#response div" )
			//			.append( "<p>Name: " + data.name )
			//			.append( "overallRating: " + data.overallRating + '</p>' );
			//	});
			//});
		</script>
	</head>

	<body>
		<img class="responsive-img" src="http://i.imgur.com/yAb7rVf.png">
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<h1 class="header center red-text text-darken-1">Search Here:</h1>
				<div class="row center">
					<h5 class="header col s12 light">Enter one or more words or phrases to search for:</h5>
				</div>
				<form id="search" action="/search" method="POST">
				{% csrf_token %}
					<br />
					<input id="term" class="invalid" type="text" name="term" tabindex="1" />
					<br />
					<input class="red lighten-1 btn-large waves-effect waves-light waves-input-wrapper" type="submit" name="Search" tabindex="2" />
					<input class='latitudetime' type='hidden' name='lati' value='37.375630' />
					<input class='longitudetime' type='hidden' name='longi' value='-121.910160' />
					<input id="terms" type='hidden' name='terms' value='{{ terms }}' />
				</form>
				<br />
			</div> 

			<div id="response" class="container">
			<!-- Show when there are no results -->
			{% if suck == 0 %}
				<div id="my-toast" class="toast">Dude, that doesn't suck as much as you think</div>
			{% endif %}
			{% for business in businesses %}
				<div class="col s12 m6">
					<div class="card hoverable">
						<div class="card-content black-text">

							<div class="row">
								<div class="col s12 m7">
									<h3 class="card-title white"><a href='{{business.url}}'>{{ business.name }}</a></h3>
								</div>
								<div class="col s12 m5">
									<p><img src='{{ business.rating_img_url_large }}' /><br />
									{{ business.review_count }} total reviews</p>
								</div>
							</div>
							<div class="row">
								<div class="col s5 m4">
									<img src='{{ business.image_url }}' />
									<address>
									{% for item in business.location.display_address %}
										{{ item }}<br/>
									{% endfor %}
									<a href="tel:{{ business.display_phone }}">"{{ business.display_phone }}</a>
									</address>
								</div>
								<div class="col s7 m8">
									<blockquote class="flow-text">{{ business.snippet_text }}</blockquote>
								</div>
							</div>
							<div class="row">
								<div class="col offset-s3 offset-m6 offset-l9 s9 m6 l3">
									<form action='/result' method='POST'>
									{% csrf_token %}
										<input type='hidden' name='name' value='{{business.name}}' />
										<input type='hidden' name='review_count' value='{{ business.review_count }}' />
										<input type='hidden' name='latitude' value='{{business.location.coordinate.latitude}}' />
										<input type='hidden' name='longitude' value='{{business.location.coordinate.longitude}}' />
										<input type='hidden' name='displayaddress' value='{{business.location.display_address}}' />
										<input type='hidden' name='img_rating' value='{{business.rating_img_url_large}}' />
										<input type='hidden' name='city' value='{{business.location.city}}' />
										<input type='hidden' name='address' value='{{business.location.address.0}}' />
										<input class="red lighten-1 btn-large waves-effect waves-light" type='submit' value='Show On Map' />
										<input class='latitudetime' type='hidden' name='lati' value='37.375630' />
										<input class='longitudetime' type='hidden' name='longi' value='-121.910160' />
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
				<!-- div id="glassdoor">
					<a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
				</div -->
			</div>

			<div class="container">
				<div class="section">
					<!--   Icon Section   -->
					<div class="row center">
					 	<div class="col s12 m4">
					 		<div class="icon-block">
					 			<h2 class="center red-text text-darken-1"><i class="material-icons"></i></h2>
					 			<h5 class="center"></h5>
					 			<p class="light">&nbsp;</p>
					 		</div>
					 	</div>
					 	<div class="col s12 m4">
					 		<div class="icon-block">
					 			<h2 class="center red-text text-darken-1"><i class="material-icons">location_on</i></h2>
					 			<h5 class="center">Location is in use</h5>
					 			<p class="light">We are currently pulling information from your location. If you turn off location, results will not be accurate. If your location appears to be wrong, please reload.</p>
					 		</div>
					 	</div>
					</div>
				</div>
				<br />
				<br />
				<div class="section"></div>
			</div>

			<footer class="page-footer red darken-1">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text">About Us</h5>
							<p class="grey-text text-lighten-4">We are a team of developers, who enjoy destroying innocent small business owners, that run bad businesses. We aren't very nice.</p>
						</div>
						<div class="col l3 s12">
							<h5 class="white-text">Links</h5>
							<ul>
								<li><a class="white-text" href="https://www.yelp.com/developers">Yelp API</a></li>
								<li><a class="white-text" href="http://www.codingdojo.com">Coding Dojo</a></li>
								<li><a class="white-text" href="http://materializecss.com/">Materialize</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">Made by H8terz</div>
				</div>
			</footer>

			<!--  Scripts-->
			<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="{% static 'hater_app/js/materialize.js' %}"></script>
			<script src="{% static 'hater_app/js/init.js' %}"></script>

		</div>
	</body>
</html>
